.socialLogin
    button.social-login--github
        span
            i.fab.fa-github
        |&nbspContinue with github
    button.social-login--facebook
        span
            i.fab.fa-facebook
        |&nbspContinue with facebook